<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >

	<listeners>
		<listener class-name="com.sauce.utilities.Report_File" />
	</listeners>
	
  <test name="Test">
  <parameter name = "browser" value="chrome"/>
  
    <classes>
      <class name="com.saucedemo.testcases.TC_Entitlement_StandardUser"/>
      <class name="com.saucedemo.testcases.TC_Entitlement_LockedOutUser"/>
      <class name="com.saucedemo.testcases.TC_Entitlement_PerformanceGlitchUser"/>
      <class name="com.saucedemo.testcases.TC_Entitlement_ProblemUser"/>
      <class name="com.saucedemo.testcases.TC_StandardUser_AddToCart"/>
      <class name="com.saucedemo.testcases.TC_StandadUser_AddToCartMultiple"/>
      <class name="com.saucedemo.testcases.TC_StandardUser_RemovingAndAddingInCart"/>
      <class name="com.saucedemo.testcases.TC_ProblemUser_AddToCart"/>
      <class name="com.saucedemo.testcases.TC_ProblemUser_AddToCartMultiple"/>
      <class name="com.saucedemo.testcases.TC_ProblemUser_RemovingAndAddingInCart"/>
      <class name="com.saucedemo.testcases.TC_PerformanceGlitchUser_AddToCart"/>
      <class name="com.saucedemo.testcases.TC_PerformanceGlitchUser_AddToCartMultiple"/>
      <class name="com.saucedemo.testcases.TC_PerformanceGlitchUser_RemovingAndAddingInCart"/>
      <class name="com.saucedemo.testcases.TC_NegativeCase_Login"/>
      <class name="com.saucedemo.testcases.TC_NegativeCase_CheckOut"/>
      <class name="com.saucedemo.testcases.TC_NegativeCase_EmptyCart"/>
      <class name="com.saucedemo.testcases.TC_StandardUser_Sort"/>
      <class name="com.saucedemo.testcases.TC_ProblemUser_Sort"/>
      <class name="com.saucedemo.testcases.TC_PerformanceGlitchUser_Sort"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
